
*
{
margin: 0;
padding: 0;
box-sizing: border-box;
text-decoration: none;
font-family: "Open Sans", sans-serif;
}
header{
 background-color: #3a506b;
}
.logo{
    float: left;
    padding: 5px 20px 0;
}
.logo img{
height: 80px;
}
.logo img:hover{
    transform: scale(1.1);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "open sans", sans-serif;
}
body {
  background-image: url();
  background-color: #0b132b;
  color: wheat  ;
  text-align: center;
}
img {
  height: 40px;
  width: 40px;
}

header {
  width: 100%;
  height: 90px;
  background-color: none;
}

.letras {
  max-width: 100%;
  padding: 0 10px;
  margin: auto;
}

.navegacion {
  float: right;
  display: flex;
  align-items: center;
  min-height: 90;
  z-index: 1000;
}

.navegacion ul {
  list-style: none;
  padding: 0 10px;
}

.navegacion ul li {
  display: inline-block;
  position: relative;
  transition: .3s linear;
  z-index: 1000;
}

.navegacion ul li:hover {
  transform: scale(1.1);
}

.navegacion ul li a {
  columns: #ffffff;
  text-align: center;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
  padding: 12px 20px;
  transition: .3s linear;
}

.navegacion ul li a:hover {
  color: black;
  transform: scale(1.1);
}

.navegacion ul li:hover .hijos {
  display: block;
}

.navegacion .submenu .hijos {
  display: none;
  background: none;
  position: absolute;
  width: 100%;
}

.navegacion .submenu .hijos li {
  display: block;
  overflow: hidden;
  border-bottom: none;
}

.navegacion .submenu .hijos li a {
  display: block;
}

nav>ul {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: center;
  padding-inline-start: 0;
  margin-block: 0;
  height: 100%;
}

nav>ul>li {
  color: whitesmoke;
  margin: 0 0.2rem;
  padding: 0.2rem;
  display: block;
}

nav>ul>li:hover {
  color: none;
  cursor: pointer;
}

li>a {
  color: inherit;
  text-decoration: none;
}